<!DOCTYPE html>
<html lang=’es’>
	<head>
		<meta charset=’utf-8’>
		<title>Recetario - {% block titulo %}{% endblock %}</title>
		{% load static %}
	    {% get_media_prefix as MEDIA_URL %}
	    {% get_static_prefix as STATIC_URL %}
    	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css"/>
    	<link rel="shortcut icon" href="{{STATIC_URL}}img/fav.icon.png"/>
	</head>
	<body>
		<header>
			<nav class="navbar navbar-nav navbar-link">
                <a class="navbar-brand" href="{% url 'inicio' %}">
                    RECETARIO 
                    2020
                </a>
			</nav>
		</header>
        <main class="py-4">
			<div class="row">
				<section class="col-lg-2" style="text-align: center;">
					<ul id="menu" class="list-group btn">
						<a href="/"><li class="list-group-item">Inicio</li></a>
						<a href="/usuarios"><li class="list-group-item">Usuarios registrados</li></a>
						<a href="{% url 'new_user' %}"><li class="list-group-item">Registrar nuevo usuario</li></a>
						<a href="/recetas"><li class="list-group-item">Recetas</li></a>
						<a href="/comentario/new"><li class="list-group-item">Comenta</li></a>
						<a href="/sobre"><li class="list-group-item">Sobre</li></a>
						<a href="/contacto"><li class="list-group-item">Contactanos</li></a>
					</ul>
				</section>
				<section class="col-lg-8">
		            <div >
						<h2>{% block encabezado %}{% endblock %}</h2>
						{% block contenido %}{% endblock %}
					</div>
				</section>
			</div>
			<footer>
				<p>Proyecto de ejemplo Django &copy;2020</p>			
			</footer>
		</main>

		<style>
			{% block style_css %}{% endblock %}
		</style>
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
		        $('p').click(function (e) {
		        	// alert("mensaje");
		            // $(this).prop("hidden", true );
		        });
	        });
		</script>
	</body>
</html>