{% extends 'base.html' %}

{% block titulo %} Agregando comentario {% endblock %}

{% block encabezado %}
	Agregando comentario
{% endblock %}

{% block contenido %}
	<form id="formulario" method="POST" action="">
		{% csrf_token %}
		{{ formulario.as_p }}
		<p><input type="submit" value="Agragar"/></p>
	</form>
{% endblock %}