{% extends 'base.html' %}

{% block encabezado %}
	Contacto
{% endblock %}

{% block contenido %}
	<form id="formulario" method="post" action=""> 
		{% csrf_token %}
		{{ formulario.as_p }}
		<p><input type="submit" value="Confirmar"/></p>
	</form>		
{% endblock %}