{% extends 'base.html' %}

{% block titulo %} Editar receta {% endblock %}

{% block encabezado %}
	<h1>Editar receta: {{ receta.titulo }}</h1>
{% endblock %}

{% block contenido %}
	<form id="formulario" method="post" enctype='multipart/form-data' action="">
		{% csrf_token %}
		{{ formulario.as_p }}
		<p><input type="submit" value="Guardar"/></p>
	</form>
{% endblock %}