{% extends 'base.html' %}

{% comment %} Aqui van los comentarios {% endcomment %}

{% block titulo %} Inicio {% endblock %}

{% block style_css  %}
	.impar { background-color: #90EE90; }
	.par { background-color: #5ACC5A; }	
{% endblock %}

{% block encabezado %}
	Recetario
{% endblock %}

{% block contenido %}
	<p>
		Recetas registradas:
		{% with total=recetas.count %}
			{{ total }} receta{{ total|pluralize }}
		{% endwith %}
	</p>
	<ul>
		{% for receta in recetas %}
			<li class="{% cycle 'impar' 'par' %}">{{ receta.titulo }}</li>
		{% empty %}
			<li>No existen recetas registradas.</li>
		{% endfor %}
	</ul>
{% endblock %}

