{% extends 'base.html' %}

{% block titulo %} Nuevo usuario {% endblock %}

{% block encabezado %}
	Registro de nuevo usuario
{% endblock %}

{% block contenido %}
	<form id="formulario" method="POST" action="">
		{% csrf_token %}
		{{ form.as_p }}
		<p><input type="submit" value="Registrar"/></p>
	</form>
{% endblock %}