{% extends 'base.html' %}

{% block encabezado %}
	{{ receta.titulo | title }}
{% endblock %}

{% block contenido %}
	<div id="ingredientes">
		<h2>Ingredientes</h2>
		<p>{{ receta.ingredientes }}</p>
	</div>
	<div id="preparacion">
		<h2>Preparacion</h2>
		<p>{{ receta.prepacion }}</p>
	</div>
	<div id="referencia">
		<img src="{{MEDIA_URL}}{{receta.imagen}}">
	</div>
	<div>
		<p>Registrado {{ receta.tiempo_registro|date:'SHORT_DATETIME_FORMAT' }} por {{ receta.usuario }}</p>
		<a href="{% url 'edit_receta' receta.id %}" class="btn btn-primary">Editar receta</a> <br>
		<a href="{% url 'delete_receta' receta.id %}" class="btn btn-danger">Eliminar receta</a>
	</div>
	<div id="comentarios" class="panel panel-default">
		<div class="panel-header">
			<h2>Comentarios</h2>
		</div>
		<div class="panel-body">
			<form id="formulario" method="POST" action="{% url 'new_comentario_receta'%}"> 
				{% csrf_token %}
				<textarea id='texto' name="texto" placeholder="Agregar comentario..." rows="5" cols="40"></textarea>
				<input value="{{ receta.id }}" name="receta_id" hidden="true">
				<p><input type="submit" value="Agregar"/></p>
			</form>
			<!-- <a href="/receta/new" class="btn btn-primary">Agregar comentario</a> -->

			<div class="comment">
				{% for comentario in comentarios %}
					<p>{{ comentario.texto }}</p>
				{% empty %}
					<p>Sin comentarios registrados.</p>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}