{% extends 'base.html' %}

{% block titulo %} Nueva receta {% endblock %}

{% block encabezado %}
	<h1>Nueva receta</h1>
{% endblock %}

{% block contenido %}
	<form id="formulario" method="post" enctype='multipart/form-data' action="">
		{% csrf_token %}
		{{ formulario.as_p }}
		<p><input type="submit" value="Registrar"/></p>
	</form>
{% endblock %}