{% extends 'base.html' %}

{% block titulo %} Recetas registradas 

{% endblock %}

{% block style_css  %}
	img { width: 100px; }
{% endblock %}

{% block encabezado %}
	Nuestras recetas
{% endblock %}

{% block contenido %}
	<a href="/receta/new" class="btn btn-primary">Agregar receta</a>
	<div class="panel panel-default">
		<div class="panel-body">
			<table class="table table-hover">
				<thead>
					<th>
						Image
					</th>
					<th>
						Title
					</th>
					<th>
						Editing
					</th>
					<th>
						Trash
					</th>
				</thead>

				<tbody>
					{% for receta in recetas %}
						<tr>
							<td>
								<img src="{{MEDIA_URL}}{{receta.imagen}}" alt="{{ receta.title }}" width="90px" height="50px">
							</td>

							<td>
								<a href="{% url 'detalle_receta' receta.id %}">{{ receta.titulo }}</a>
							</td>

							<td>
								<a href="{% url 'edit_receta' receta.id %}" class="btn btn-xs btn-info">
									<!-- <span class="glyphicon glyphicon-pencil"></span> -->
									Edit
								</a>
							</td>

							<td>
								<a href="{% url 'delete_receta' receta.id %}" class="btn btn-xs btn-danger">
									<!-- <span class="glyphicon glyphicon-trash"></span> -->
									Trash
								</a>
							</td>
						</tr>
					{% empty %}
						<tr>
							<th colspan="5" class="text-center">No existen recetas registradas.</th>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

{% endblock %}