{% extends 'base.html' %}

{% block titulo %} Usuarios registrados {% endblock %}

{% block encabezado %}
	Colaboradores
{% endblock %}

{% block contenido %}
	<ul>
		{% for usuario in usuarios %}
		<li>{{ usuario.username |capfirst }} - <em>{{usuario.email}}</em>

			<ul>
				{% for receta in recetas %}				
					{% if receta.usuario == usuario %}
					<li>
						{{receta}}
					</li>
					{% endif %}
				{% empty %}
					<li> {{ usuario.username |capfirst }} no ha registrado recetas hasta el momento.</li>
				{% endfor %}
			</ul>

		</li>
		{% endfor %}
	</ul>
{% endblock %}